@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ------ reset ------ */
body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font: inherit;
    border: none;
    background: none;
}

button:enabled {
    cursor: pointer;
}

/* ------ 말줄임 표시 ------ */
.ell1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------ main ------  */
.main-wrapper {
    width: 100%;
    background-color: transparent;
    /* display: grid;
    grid-template-areas:
    "notice notice"
    "pquiz ppost"
    ;
    grid-template-rows: 1fr 2fr; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(-2%);
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-notice, .main-pop-post, .main-pop-quiz {
    border-radius: 5px;
    background-color: #fff;
}

.main-title {
    font-size: 1.2em;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid #c0c0c0
}

/* ------ notice ------ */
.main-notice {
    width: 100%;
    padding: 20px;
    /* display: flex; */
    gap: 10px;
    /* grid-area: notice; */
}

.main-notice .notice-list {
    width: 100%;
}

.main-notice .notice-list > li {
    display: flex;
    margin-bottom: 5px;
}

.notice-list .notice-num {
    margin: 0 10px;
}

.notice-list .notice-title {
    width: 100%;
    cursor: pointer;
}

.notice-list .notice-time {
    margin: 0 20px;
}

/* ------ popular quiz ------ */
.main-pop-quiz {
    width: 100%;
    padding: 20px;
    /* grid-area: pquiz; */
}

/* .main-pop-quiz > ul { */
.pquiz-list {
    min-width: 288px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 1; */
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

.thumbnail-box {
    margin: 15px;
}

.pquiz-list > li, .pquiz-thumbnail {
    border: 1px solid #767676;
    border-radius: 5px;
}

.pquiz-list > li {
    width: 288px;
    margin-bottom: 10px;
}

.pquiz-thumbnail {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
}

.pquiz-title {
    margin: 0 20px 15px 20px;
}

/* ------ popular post ------ */
.main-pop-post {
    width: 100%;
    padding: 20px;
    /* background-color: beige; */

    grid-area: ppost;
}

.main-pop-post .ppost-list {
    width: 100%;
}

.main-pop-post .ppost-list > li {
    display: flex;
    margin-bottom: 5px;
}

.ppost-list .ppost-num {
    width: 80px;
    margin: 0 10px;
}

.ppost-list .ppost-title {
    width: 100%;
}

.ppost-list .ppost-view {
    width: 80px;
    text-align: right;
    margin: 0 20px;
}


/* ------ media query ------ */
/* 749px부터 적용 */
@media (min-width: 749px) {
}

/* 748까지 적용 */
@media (max-width: 749px) {
    .notice-list .notice-time {
        display: none;
    }

    .ppost-list .ppost-view {
        display: none;
    }

    .main-wrapper {
        margin-left: 9%;
    }
}